// abstract/_variables.scss

$color-primario: #0A9396;
$color-secundario: #03045E;
$negro-primario: #222222;
$blanco-primario: #FFFFFF;
$gris-secundario: #949393;
$overlay-background: rgba(255, 255, 255, 0.05);
