// src/pages/ConfirmacionRegistro.scss

@use '../abstract/variables' as vars;

.confirmacion-registro-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: vars.$blanco-primario;
  color: vars.$negro-primario;
  text-align: center;

  .titulo-confirmacion {
    padding: 2rem;
    img {
      width: 13rem;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 4rem;
    }
  }

  @media (min-width: 420px) {
    .titulo-confirmacion {
      img {
        width: 15rem !important;
        margin-bottom: 2rem;
      }
      p {
        margin-bottom: 4rem;
      }
    }
  }

  @media (min-width: 1024px) {
    flex-direction: row;

    .titulo-confirmacion {
      padding: 2rem;
      img {
        width: 20rem !important;
      }
    }
  }
}
