// src/components/LinkRequirementModal.scss

@use '../abstract/variables' as vars;

.link-requirement-modal {
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 1.8rem;
    color: vars.$negro-primario;
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    max-height: 300px;
    overflow-y: auto;
    margin-bottom: 1rem;

    label {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;

      input {
        margin-right: 0.5rem;
      }
    }

    /* Scroll minimalista */
    ::-webkit-scrollbar {
      width: 6px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: vars.$gris-secundario;
      border-radius: 3px;
    }
    ::-webkit-scrollbar-track {
      background-color: vars.$blanco-primario;
    }
  }

  .buttons {
    display: flex;
    justify-content: flex-end;

    button {
      padding: 0.5rem 1rem;
      margin-left: 1rem;
      font-size: 1rem;
      font-weight: bold;
      color: vars.$blanco-primario;
      background-color: vars.$color-primario;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      box-shadow: 2px 2px 6px vars.$color-primario;

      &:hover {
        background-color: lighten(vars.$color-primario, 10%);
      }

      &.enlazar-button {
        background-color: lighten(vars.$color-primario, 15%);
        opacity: 0.9;
        &:hover {
          background-color: lighten(vars.$color-primario, 5%);
        }
      }

      &.cancel-button {
        background-color: vars.$gris-secundario;
        &:hover {
          background-color: lighten(vars.$gris-secundario, 10%);
        }
      }
    }
  }
}
