@use '../abstract/variables' as vars;

.seleccion-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: vars.$blanco-primario;
  color: vars.$negro-primario;
  text-align: center;

  .titulo-login {
    padding: 2rem;
    h1 {
      font-size: 2.1rem;
      line-height: 1.5;
      color: vars.$negro-primario;
      font-weight: 400;

      span {
        color: vars.$color-primario;
        font-weight: bold;
      }
    }
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    padding: 2rem;
    

    .formLogin{

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3.5rem;
        padding-top: 6rem;
        padding-bottom: 4rem;
        box-shadow: #0a949692 0px 0px 100px 1px;
        background-color: rgba($color: #0A9396, $alpha: 0.08);
        border-radius:20px;
        -webkit-border-radius:20px;
        -moz-border-radius:20px;
        -ms-border-radius:20px;
        -o-border-radius:20px;

        .logoContainer{
            img{
                width: 13rem;
                margin-bottom: 2rem;
            }
            p{
                margin-bottom: 4rem;
            }
        }
        .botonesContainer{
            display: flex;
            flex-direction: column;
            button{
                width: 170px;
                height: 3rem;
                padding: 0.5rem;
                margin: 0.5rem 0;
                font-size: 1rem;
                font-weight: bold;
                color: vars.$negro-primario;
                background-color: vars.$blanco-primario;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                border: 1px vars.$negro-primario solid;
                box-shadow: #0A9396 2px 2px 6px;
                &:hover {
                    background-color: #b4d9d9;
                }
            }
        }
        
    }
    
  }
  .registro-link{
    margin-top: 4rem;
    a{
      color: vars.$color-primario;
    }
  }
}
@media (min-width: 420px) {
  .button{
    width: 200px;
    height: 3.5rem;
  }
  .logoContainer{
      img{
          width: 15rem !important;
          margin-bottom: 2rem;
      }
      p{
          margin-bottom: 4rem;
      }
  }

}

@media (min-width: 1024px) {
  .seleccion-login{
    flex-direction: row;
  }
  .titulo-login {
    padding: 2rem;
    h1 {
      font-size: 3rem !important;
      line-height: 1.5;
      color: vars.$negro-primario;
      font-weight: 400;
      max-width: 630px;
      span {
        color: vars.$color-primario;
        font-weight: bold;
      }
    }
  }
}